@{
    ViewData["Title"] = "GitProj - Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the home page</h1>
    <p>This is just a test project from Visual Studio to the repository on GitHub.</p>
    <p>There is not much functionality on the project. But, you can look forward to more projects being posted in future.</p>
    <p>You can get in touch via my email or twitter account on my profile.</p>
    <p><a href="https://twitter.com/ThokozaniZakwe" class="btn btn-outline-primary">Twitter</a></p>
</div>
